<div class="modal-content animate">
    <div class="imgcontainer">
      <img src="assets\logo.png" alt="Avatar" class="avatar">
      <br>
      <h6 class="companyName">KARO SAMBHAV</h6><br>
    </div>
  
  
    <div class="container">
      <input type="text" placeholder="Mobile Number" id="userID" style="height: 45px;" [(ngModel)]="input.mobile_number" required/><br>
      <input type="password" placeholder="Password" id="pwd" [(ngModel)]="input.password" required  style="height: 45px"/>
      <button type="submit" (click)="login()">Login</button>
    </div>
  
  </div>
  